.header {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}


.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 18px 0;
}

.header__link {
    gap: 30px;
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;  
    align-items: center;
}

.header__register {
    color: #000000;
    text-decoration: none;
}

.header__auth {
    border-radius: 3px;
    color: white;
    background-color: #000000;
    padding: 8px 20px;
    text-decoration: none;
}

