.header {
    margin: 0 auto;
    padding-bottom: 75px;
    width: 100%;
}

.header__color_pink {
    background-color: #F3C1F8;
}

.header__block {
    display: flex;
    margin: 0 auto;
    padding: 18px 0;
    max-width: 1140px;
    justify-content: space-between;
    width: 90%;
}



@media screen and (max-width: 820px) {
    .header__block {
        max-width: 708px;
    }
}

@media screen and (max-width: 320px) {
    .header__block {
        max-width: 292px;
    }
}

