.search {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.search__input {
    padding: 16px 20px;
    background: #F9F9F9;
    border-radius: 8px;
    max-width: 1046px;
    width: 100%;
    border: none;
    outline: none;
}

.search__btn {
    padding: 7px;
    border: none;
    background-size: 18px;
    width: 44px;
    height: 44px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

.search__btn:hover {
    opacity: 0.8;
}

.search__elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}